<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrimaryInjection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PrimaryInjection.Properties.Settings>
            <setting name="backgroundColor" serializeAs="String">
                <value>32, 32, 32</value>
            </setting>
            <setting name="textColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="borderColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="hoverColor" serializeAs="String">
                <value>55, 55, 55</value>
            </setting>
            <setting name="staticColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="selectedProcess" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedDLL" serializeAs="String">
                <value />
            </setting>
            <setting name="width" serializeAs="String">
                <value>514</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>265</value>
            </setting>
        </PrimaryInjection.Properties.Settings>
    </userSettings>
</configuration>